<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='javascript/scripts.js') }}"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Análisis</title>
</head>
<body>
    <header>
        <nav class="navbar pl-4 pr-4">
            <h1>Hospital</h1>
            <div class="d-flex">
                <a href="/" class="btn btn-outline-light mr-3">Página principal</a>
                <form action="/logout/process" method="POST">
                    <input type="submit" class="btn btn-outline-light" value="Cerrar Sesión">
                </form>
            </div>
        </nav>
    </header>
    <main class="cita_main pt-5">
        <div class="container">
            <h2 class="pb-3">Análisis:</h2>
            <div class="border p-5">
                <div class="d-flex justify-content-between w-50">
                    <p>Fecha de analisis: {{cita.formato_fecha()}}</p>
                    <p>Hora de analisis: {{cita.formato_hora()}}</p>
                </div>
                <h3 class="pt-3">Lista de análisis:</h3>
                <div class="pt-3 pl-5">
                    <ul>
                        {%for analisis in all_analisis %}
                            <li>
                                <p>{{analisis.nombre}}</p>
                                <p><b>Requisitos:</b> {{analisis.requisitos}}</p>
                            </li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="d-flex justify-content-end">
                    <form action="/cita_analisis/delete/{{cita.id}}" method="POST">
                        <input type="submit" class="btn btn-danger mr-3" value="Cancelar cita">
                    </form>
                    <a href="/" class="btn btn-secondary mr-3">Volver</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>