<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='javascript/scripts.js') }}"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Análisis</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>Hospital</h1>
            <div class="d-flex">
                <a href="/" class="btn btn-outline-light mr-3">Pagina principal</a>
                <form action="/logout/process" method="POST">
                    <input type="submit" class="btn btn-outline-light" value="Cerrar Sesión">
                </form>
            </div>
        </nav>
    </header>
    <main class="cita_main pt-5">
        <div class="d-flex">
            <div class="buscador pl-5 pb-5">
                <label for="busqueda_analisis">Buscar análisis por nombre</label>
                <input type="text" class="form-control mb-3" name="busqueda" id="busqueda_analisis">
            </div>
        </div>
        <div class=" ml-5 mb-5 border analisis w-75 h-75 p-4 ">
            <form action="/agendar_analisis/{{user_id}}/1" method="POST" class="form-group p-3">
                {%for analisis in all_analisis%}
                <div class="border un_analisis mb-5 p-3">
                    <input type="checkbox" name="{{analisis.nombre}}" id="chkjs" value="{{analisis.id}}">
                    <label for="chkjs">
                        <p class="analisis_nombre">{{analisis.nombre}}</p>
                        <p><b>Requisitos:</b> {{analisis.requisitos}}</p>
                    </label>
                </div>
                {%endfor%}
                <input type="submit" class="mt-4 mb-4" value="Agendar">
            </form>
        </div>
    </main>
</body>
</html>