<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='javascript/scripts.js') }}"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Cita</title>
</head>
<body>
    <header>
        <nav class="navbar pl-4 pr-4">
            <h1>Hospital</h1>
            <div class="d-flex">
                <a href="/" class="btn btn-outline-light mr-3">Página principal</a>
                <form action="/logout/process" method="POST">
                    <input type="submit" class="btn btn-outline-light" value="Cerrar Sesión">
                </form>
            </div>
        </nav>
    </header>
    <main class="cita_main pt-5">
        <div class="container"> 
            <h2 class="mb-3">Agendar cita médica</h2> 
            <div class="d-flex">
                <div class="buscador pl-5 mb-3">
                    <label for="busqueda_medico">Buscar médico por nombre o especialidad</label>
                    <input type="text" class="form-control" name="busqueda" id="busqueda_medico">
                </div>
            </div>
            <div class=" ml-5 mb-5 border medicos w-75 pt-4 pl-4 pr-4 pb-2 ">
                {%for meds in all_medicos%}
                    <div class="medico form-group p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-0">{{meds.especialidad.nombre}} - {{meds.nombre}} {{meds.apellido}}</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confi_{{meds.id}}">Agendar</button>
                        </div>
                    </div>
                    <div class="modal fade" id="confi_{{meds.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- cabecera del diálogo -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirmar agendamiento</h4>
                                    <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                <!-- cuerpo del diálogo -->
                                <div class="modal-body">
                                    <p>Cita medica con {{meds.nombre}} {{meds.apellido}} para el area de {{meds.especialidad.nombre}}</p>
                                </div>
        
                                <!-- pie del diálogo -->
                                <div class="modal-footer">
                                    <form action="/agendar_cita/{{user_id}}/{{meds.id}}" method="POST" >
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <input type="submit" class="btn btn-primary"  value="Confirmar">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}
                
            </div>
        </div>
    </main>
</body>
</html>