<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Inicio</title>
</head>
<body class="h-100">
    <header>
        <nav class="navbar pl-4 pr-4">
            <h1>Hospital</h1>
            <div>
                <form action="/logout/process" method="POST">
                    <input type="submit" class="btn btn-outline-light" value="Cerrar Sesión">
                </form>
            </div>
        </nav>
    </header>
    <main class="d-flex">
        <section class="d-flex pt-5">
            <div class="w-25 pr-5 pl-5">
                <h2>Medico</h2>
                <div class="form-group">
                    <form action="/med/process" method="POST">
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" id="nombre" type="text" name="nombre">
                        <label for="apellido">Apellido:</label>
                        <input class="form-control" id="apellido" type="text" name="apellido">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" type="text" name="email">
                        <label for="ci">CI:</label>
                        <input class="form-control" id="ci" type="number" name="ci">
                        <select class="custom-select mt-3 mb-3" id="especialidad_id" name="especialidad_id">
                            <option selected>Sleccione la especialidad del medico</option>
                            {%if all_especialidades%}
                                {%for especialidad in all_especialidades%}
                                    <option value="{{especialidad.id}}">{{especialidad.nombre}}</option>
                                {%endfor%}
                            {%endif%}
                        </select>
                        <select class="custom-select mt-3 mb-3" id="hospital_id" name="hospital_id">
                            <option selected>Sleccione un hospital del medico</option>
                            {%if all_hospitales%}
                                {%for hospital in all_hospitales%}
                                    <option value="{{hospital.id}}">{{hospital.nombre}}</option>
                                {%endfor%}
                            {%endif%}
                        </select>
                        <input type="submit" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
            <div class="w-25 pr-5 pl-5">
                <h2>Análisis</h2>
                <div class="form-group">
                    <form action="/analisis/process" method="POST">
                        <label for="nombre_analisis">Nombre:</label>
                        <input class="form-control" id="nombre_analisis" type="text" name="nombre">
                        <label for="requisitos">Requisito:</label>
                        <input class="form-control" id="requisitos" type="text" name="requisitos">
                        <input type="submit" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
            <div class="w-25 pr-5 pl-5">
                <h2>Especialidad</h2>
                <div class="form-group">
                    <form action="/espe/process" method="POST">
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" id="nombre" type="text" name="nombre">
                        <input type="submit" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
            <div class="w-25 pr-5 pl-5">
                <h2>Hospital</h2>
                <div class="form-group">
                    <form action="/hosp/process" method="POST">
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" id="nombre" type="text" name="nombre">
                        <label for="direccion">Dirección:</label>
                        <input class="form-control" id="direccion" type="text" name="direccion">
                        <input type="submit" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>